# Analisa informações gerais dos arquivos de Twitter #

In [2]:
#Arquivo que analisa o volume de tweets de cada série

In [18]:
#Bibliotecas
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path
from IPython.core.interactiveshell import InteractiveShell
from datetime import date

#InteractiveShell.ast_node_interactivity = 'all'

In [4]:
nomes_series = pd.read_csv('input_twitter_analysis.csv')
nomes_series['data_estreia'] = pd.to_datetime(nomes_series['data_estreia'], format="%Y-%m-%d", errors = 'coerce')
print(nomes_series['data_estreia'].dtypes)
nomes_series

datetime64[ns]

                  nome data_estreia
0         SexEducation   2019-01-11
1       StrangerThings   2016-07-15
2            OnMyBlock   2018-03-16
3             TheCrown   2016-11-04
4                Ozark   2017-07-21
5           OuterBanks   2020-04-15
6              Love101   2020-04-24
7          LockeAndKey   2020-02-07
8         NarcosMexico   2018-11-16
9          LostInSpace   2018-04-13
10        EliteNetflix   2018-10-05
11      NeverHaveIEver   2020-04-27
12  LoveDeathandRobots   2019-05-15
13         Castlevania   2017-07-07
14        HouseOfCards   2013-02-01

In [5]:
def droparDup(dataframe):
    dataframe.drop_duplicates(subset=['id'], inplace=True)
    
def formatarData(dataframe):
    dataframe['date'] = pd.to_datetime(dataframe['date'], format="%Y-%m-%d", errors = 'coerce')

In [25]:
for serie in nomes_series['nome']:
    df_serie = pd.read_csv('series_dataset/'+serie+'.csv', error_bad_lines=False)
    df_serie_pre = pd.read_csv('series_dataset/'+serie+'-pre.csv', error_bad_lines=False)
    df_serie = pd.concat([df_serie, df_serie_pre])
    droparDup(df_serie)
    
    print(f"{serie}")
    df_serie.to_csv(f"series_dataset_completo/{serie}_completo.csv", index=False)

D:\Programas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

SexEducation
StrangerThings
OnMyBlock

D:\Programas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (0,1,2,3,4,7,8,9,10,11,12,13,14,18,19,20,21,22,24,31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

TheCrown
Ozark
OuterBanks
Love101
LockeAndKey

D:\Programas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (0,1,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

NarcosMexico
LostInSpace
EliteNetflix
NeverHaveIEver
LoveDeathandRobots
Castlevania

D:\Programas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

HouseOfCards

In [31]:
def filtrarDatas(dataframe, data_inicial, data_final):
    filtro_dados = (dataframe["date"] >  data_inicial) & (dataframe["date"] < data_final)
    #print(dataframe[filtro_dados])
    return dataframe[filtro_dados].shape[0]

In [39]:
def countPre(dataframe, data_estreia):
    data_final = data_estreia - pd.DateOffset(days=3)
    data_inicial = data_estreia - pd.DateOffset(days=76)
    #print(f"Count Pre: Final: {data_final}, Inicial: {data_inicial}")
    
    return filtrarDatas(dataframe, data_inicial, data_final)

In [40]:
def countDurante(dataframe, data_estreia):
    data_final = data_estreia + pd.DateOffset(days=4)
    data_inicial = data_estreia - pd.DateOffset(days=4)
    #print(f"Count Durante: Final: {data_final}, Inicial: {data_inicial}")
    
    return filtrarDatas(dataframe, data_inicial, data_final)

In [41]:
def countPos(dataframe, data_estreia):
    data_final = data_estreia + pd.DateOffset(days=151)
    data_inicial = data_estreia + pd.DateOffset(days=3)
    #print(f"Count Pos: Final: {data_final}, Inicial: {data_inicial}")
    
    return filtrarDatas(dataframe, data_inicial, data_final)

In [45]:
def countTotal(dataframe, data_estreia):
    data_final = data_estreia + pd.DateOffset(days=151)
    data_inicial = data_estreia - pd.DateOffset(days=76)
    #print(f"Count Total: Final: {data_final}, Inicial: {data_inicial}")
    
    return filtrarDatas(dataframe, data_inicial, data_final)

In [46]:
lista_df = []
for index, linha in nomes_series.iterrows():
    row = []
    df_serie = pd.read_csv(f"series_dataset_completo/{linha['nome']}_completo.csv")
    #df_serie[df_serie["id"].duplicated()]
    formatarData(df_serie)
    
    row.append(linha['nome'])
    row.append(linha['data_estreia']) 
    row.append(countPre(df_serie, linha['data_estreia']))
    row.append(countDurante(df_serie,linha['data_estreia']))
    row.append(countPos(df_serie, linha['data_estreia']))
    row.append(countTotal(df_serie, linha['data_estreia']))
    #print("\n\n\n")
    
    lista_df.append(row)

df = pd.DataFrame(lista_df, columns = ['Nome', 'DataEstreia', 'CountPre', 'CountDurante', 'CountPos', 'CountTotal'])
df

Count Pre: Final: 2019-01-08 00:00:00, Inicial: 2018-10-27 00:00:00
Count Durante: Final: 2019-01-15 00:00:00, Inicial: 2019-01-07 00:00:00
Count Pos: Final: 2019-06-11 00:00:00, Inicial: 2019-01-14 00:00:00
Count Total: Final: 2019-06-11 00:00:00, Inicial: 2018-10-27 00:00:00




Count Pre: Final: 2016-07-12 00:00:00, Inicial: 2016-04-30 00:00:00
Count Durante: Final: 2016-07-19 00:00:00, Inicial: 2016-07-11 00:00:00
Count Pos: Final: 2016-12-13 00:00:00, Inicial: 2016-07-18 00:00:00
Count Total: Final: 2016-12-13 00:00:00, Inicial: 2016-04-30 00:00:00




Count Pre: Final: 2018-03-13 00:00:00, Inicial: 2017-12-30 00:00:00
Count Durante: Final: 2018-03-20 00:00:00, Inicial: 2018-03-12 00:00:00
Count Pos: Final: 2018-08-14 00:00:00, Inicial: 2018-03-19 00:00:00
Count Total: Final: 2018-08-14 00:00:00, Inicial: 2017-12-30 00:00:00

D:\Programas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (0,1,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Count Pre: Final: 2016-11-01 00:00:00, Inicial: 2016-08-20 00:00:00
Count Durante: Final: 2016-11-08 00:00:00, Inicial: 2016-10-31 00:00:00
Count Pos: Final: 2017-04-04 00:00:00, Inicial: 2016-11-07 00:00:00
Count Total: Final: 2017-04-04 00:00:00, Inicial: 2016-08-20 00:00:00




Count Pre: Final: 2017-07-18 00:00:00, Inicial: 2017-05-06 00:00:00
Count Durante: Final: 2017-07-25 00:00:00, Inicial: 2017-07-17 00:00:00
Count Pos: Final: 2017-12-19 00:00:00, Inicial: 2017-07-24 00:00:00
Count Total: Final: 2017-12-19 00:00:00, Inicial: 2017-05-06 00:00:00




Count Pre: Final: 2020-04-12 00:00:00, Inicial: 2020-01-30 00:00:00
Count Durante: Final: 2020-04-19 00:00:00, Inicial: 2020-04-11 00:00:00
Count Pos: Final: 2020-09-13 00:00:00, Inicial: 2020-04-18 00:00:00
Count Total: Final: 2020-09-13 00:00:00, Inicial: 2020-01-30 00:00:00




Count Pre: Final: 2020-04-21 00:00:00, Inicial: 2020-02-08 00:00:00
Count Durante: Final: 2020-04-28 00:00:00, Inicial: 2020-04-20 00:00:00
Count Pos: Final: 2020-09-22 00:00:00, Inicial: 2020-04-27 00:00:00
Count Total: Final: 2020-09-22 00:00:00, Inicial: 2020-02-08 00:00:00




Count Pre: Final: 2020-02-04 00:00:00, Inicial: 2019-11-23 00:00:00
Count Durante: Final: 2020-02-11 00:00:00, Inicial: 2020-02-03 00:00:00
Count Pos: Final: 2020-07-07 00:00:00, Inicial: 2020-02-10 00:00:00
Count Total: Final: 2020-07-07 00:00:00, Inicial: 2019-11-23 00:00:00




Count Pre: Final: 2018-11-13 00:00:00, Inicial: 2018-09-01 00:00:00
Count Durante: Final: 2018-11-20 00:00:00, Inicial: 2018-11-12 00:00:00
Count Pos: Final: 2019-04-16 00:00:00, Inicial: 2018-11-19 00:00:00
Count Total: Final: 2019-04-16 00:00:00, Inicial: 2018-09-01 00:00:00




Count Pre: Final: 2018-04-10 00:00:00, Inicial: 2018-01-27 00:00:00
Count Durante: Final: 2018-04-17 00:00:00, Inicial: 2018-04-09 00:00:00
Count Pos: Final: 2018-09-11 00:00:00, Inicial: 2018-04-16 00:00:00
Count Total: Final: 2018-09-11 00:00:00, Inicial: 2018-01-27 00:00:00




Count Pre: Final: 2018-10-02 00:00:00, Inicial: 2018-07-21 00:00:00
Count Durante: Final: 2018-10-09 00:00:00, Inicial: 2018-10-01 00:00:00
Count Pos: Final: 2019-03-05 00:00:00, Inicial: 2018-10-08 00:00:00
Count Total: Final: 2019-03-05 00:00:00, Inicial: 2018-07-21 00:00:00




Count Pre: Final: 2020-04-24 00:00:00, Inicial: 2020-02-11 00:00:00
Count Durante: Final: 2020-05-01 00:00:00, Inicial: 2020-04-23 00:00:00
Count Pos: Final: 2020-09-25 00:00:00, Inicial: 2020-04-30 00:00:00
Count Total: Final: 2020-09-25 00:00:00, Inicial: 2020-02-11 00:00:00




Count Pre: Final: 2019-05-12 00:00:00, Inicial: 2019-02-28 00:00:00
Count Durante: Final: 2019-05-19 00:00:00, Inicial: 2019-05-11 00:00:00
Count Pos: Final: 2019-10-13 00:00:00, Inicial: 2019-05-18 00:00:00
Count Total: Final: 2019-10-13 00:00:00, Inicial: 2019-02-28 00:00:00




Count Pre: Final: 2017-07-04 00:00:00, Inicial: 2017-04-22 00:00:00
Count Durante: Final: 2017-07-11 00:00:00, Inicial: 2017-07-03 00:00:00
Count Pos: Final: 2017-12-05 00:00:00, Inicial: 2017-07-10 00:00:00
Count Total: Final: 2017-12-05 00:00:00, Inicial: 2017-04-22 00:00:00

D:\Programas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Count Pre: Final: 2013-01-29 00:00:00, Inicial: 2012-11-17 00:00:00
Count Durante: Final: 2013-02-05 00:00:00, Inicial: 2013-01-28 00:00:00
Count Pos: Final: 2013-07-02 00:00:00, Inicial: 2013-02-04 00:00:00
Count Total: Final: 2013-07-02 00:00:00, Inicial: 2012-11-17 00:00:00

,Nome,DataEstreia,CountPre,CountDurante,CountPos,CountTotal
0,SexEducation,2019-01-11,2217,13963,49879,66059
1,StrangerThings,2016-07-15,2928,37867,472360,513155
2,OnMyBlock,2018-03-16,158,3451,30336,33945
3,TheCrown,2016-11-04,2717,15581,35809,54107
4,Ozark,2017-07-21,1360,4864,31426,37650
5,OuterBanks,2020-04-15,1096,3120,38135,42351
6,Love101,2020-04-24,3158,7060,12975,23193
7,LockeAndKey,2020-02-07,3571,8742,19702,32015
8,NarcosMexico,2018-11-16,1543,6259,11746,19548
9,LostInSpace,2018-04-13,5637,12281,20918,38836
10,EliteNetflix,2018-10-05,749,9244,15954,25947
11,NeverHaveIEver,2020-04-27,1740,11473,21329,34542
12,LoveDeathandRobots,2019-05-15,24506,247,3103,27856
13,Castlevania,2017-07-07,3466,7955,11213,22634
14,HouseOfCards,2013-02-01,1693,13228,72869,87790

In [49]:
df.to_csv(f"series_dataset_count/dataset_count.csv", index=False)

In [ ]:
lista_df[1].head()

In [ ]:
for df in lista_df:
    setDataframe(df)

In [ ]:
# todos_df.groupby(["nome_serie", "date"])["date"].count()

In [ ]:
#filtro_dados = (df_TheWitcher["date"] > pd.Timestamp(2020, 1, 1)) & (df_TheWitcher["date"] <  pd.Timestamp(2020, 2, 8)

#Criar tuplas de visualização
tuplas_vis = []
for df in lista_df:

    data_final = df['date'].iloc[0] - pd.DateOffset(days=210)
    data_inicial = df['date'].iloc[-1]

    filtro_dados = (df["date"] >  data_inicial) & (df["date"] < data_final)
    y = df[filtro_dados]['date'].value_counts()
    x = df[filtro_dados]['date'].value_counts().index.tolist()

    tuplas_vis.append((x,y))

In [ ]:
fig, axes = plt.subplots(2, 2, figsize=(14, 10), sharey=False)

sns.lineplot(ax=axes[0,0], x = tuplas_vis[0][0], y = tuplas_vis[0][1], color="salmon")
axes[0,0].tick_params(rotation=90, axis='x')
axes[0,0].set_title(nomes_series[0])
axes[0,0].set_ylabel('Número Total de Twitts')
axes[0,0].set_xlabel('Dia')

sns.lineplot(ax=axes[0,1], x = tuplas_vis[1][0], y = tuplas_vis[1][1], color="salmon")
axes[0,1].tick_params(rotation=90, axis='x')
axes[0,1].set_title(nomes_series[1])
axes[0,1].set_ylabel('Número Total de Twitts')
axes[0,1].set_xlabel('Dia')

sns.lineplot(ax=axes[1,0], x = tuplas_vis[2][0], y = tuplas_vis[2][1], color="salmon")
axes[1,0].tick_params(rotation=90, axis='x')
axes[1,0].set_title(nomes_series[2])
axes[1,0].set_ylabel('Número Total de Twitts')
axes[1,0].set_xlabel('Dia')

sns.lineplot(ax=axes[1,1], x = tuplas_vis[3][0], y = tuplas_vis[3][1], color="salmon")
axes[1,1].tick_params(rotation=90, axis='x')
axes[1,1].set_title(nomes_series[3])
axes[1,1].set_ylabel('Número Total de Twitts')
axes[1,1].set_xlabel('Dia')