**Importando as bibliotecas**

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

**Obtendo os títulos e links dos Filmes**

In [ ]:
url_fonte = 'https://www.imdb.com/search/keyword/?keywords=netflix-original&mode=simple&page=3&title_type=tvSeries&ref_=kw_nxt&sort=moviemeter,asc'

In [ ]:
con = requests.get(url_fonte)

In [ ]:
con.status_code

200

In [ ]:
soup = BeautifulSoup(con.content, "html.parser")

In [ ]:
titulos_series = [tag.find('a').contents[0] for tag in soup.findAll('span', attrs={'class':'lister-item-header'})]

In [ ]:
len(titulos_series)

50

In [ ]:
titulos_series

['終末的女武神',
 'Sexify',
 'Bir Baskadir',
 'Jigsaw',
 'Trese',
 'Two Sentence Horror Stories',
 'Dive Club',
 'Army of the Dead: Lost Vegas',
 'Rojst',
 'La casa de las flores',
 'Hilda',
 'Glória',
 'Heist',
 '1899',
 'Dragons: Race to the Edge',
 '隱形城市',
 "Chef's Table",
 '盲婚試愛',
 'How to Become a Tyrant',
 '比悲傷更悲傷的故事 影集版',
 '武士彌助',
 'The Silent Sea',
 'The Boss Baby: Back in Business',
 'One Piece',
 'Transformers: War for Cybertron',
 'Ingobernable',
 'The Lincoln Lawyer',
 "Guillermo del Toro's Cabinet of Curiosities",
 '酷男的異想世界',
 'Otwórz oczy',
 'X-Ray: Selected Satyajit Shorts',
 'Fatma',
 'The A List',
 '環太平洋：黑色禁區',
 'Bangkok Breaking',
 'I Am a Killer',
 'Sharkdog',
 'Bom Dia, Verônica',
 '3Below: Tales of Arcadia',
 'Unsolved',
 'Tiempos de guerra',
 'Plan Coeur',
 'Graymail',
 'Florida Man',
 'Rebelde',
 'The Good Cop',
 'Unrecorded Night',
 'Partner Track',
 'The Cuphead Show!',
 'Carmen Sandiego']

In [ ]:
links_series = ['http://www.imdb.com' + tag.a['href'] for tag in soup.findAll('span',  attrs={'class':'lister-item-header'})]

In [ ]:
links_series

['http://www.imdb.com/title/tt13676344/',
 'http://www.imdb.com/title/tt14315542/',
 'http://www.imdb.com/title/tt11301642/',
 'http://www.imdb.com/title/tt15438246/',
 'http://www.imdb.com/title/tt9310336/',
 'http://www.imdb.com/title/tt6873926/',
 'http://www.imdb.com/title/tt13275052/',
 'http://www.imdb.com/title/tt13334002/',
 'http://www.imdb.com/title/tt8855592/',
 'http://www.imdb.com/title/tt8387348/',
 'http://www.imdb.com/title/tt6385540/',
 'http://www.imdb.com/title/tt13064634/',
 'http://www.imdb.com/title/tt14865290/',
 'http://www.imdb.com/title/tt9319668/',
 'http://www.imdb.com/title/tt4816058/',
 'http://www.imdb.com/title/tt8878862/',
 'http://www.imdb.com/title/tt4295140/',
 'http://www.imdb.com/title/tt11704040/',
 'http://www.imdb.com/title/tt14832996/',
 'http://www.imdb.com/title/tt15381716/',
 'http://www.imdb.com/title/tt9310330/',
 'http://www.imdb.com/title/tt11570202/',
 'http://www.imdb.com/title/tt7741824/',
 'http://www.imdb.com/title/tt11737520/',
 'http://www.imdb.com/title/tt9789660/',
 'http://www.imdb.com/title/tt6495756/',
 'http://www.imdb.com/title/tt13833978/',
 'http://www.imdb.com/title/tt8415836/',
 'http://www.imdb.com/title/tt7259746/',
 'http://www.imdb.com/title/tt13495314/',
 'http://www.imdb.com/title/tt14160660/',
 'http://www.imdb.com/title/tt11961378/',
 'http://www.imdb.com/title/tt9185110/',
 'http://www.imdb.com/title/tt9288848/',
 'http://www.imdb.com/title/tt14202282/',
 'http://www.imdb.com/title/tt8300324/',
 'http://www.imdb.com/title/tt12211696/',
 'http://www.imdb.com/title/tt12987918/',
 'http://www.imdb.com/title/tt7736544/',
 'http://www.imdb.com/title/tt6233618/',
 'http://www.imdb.com/title/tt6740146/',
 'http://www.imdb.com/title/tt9170638/',
 'http://www.imdb.com/title/tt15310528/',
 'http://www.imdb.com/title/tt14509130/',
 'http://www.imdb.com/title/tt14153686/',
 'http://www.imdb.com/title/tt7183074/',
 'http://www.imdb.com/title/tt13547416/',
 'http://www.imdb.com/title/tt15390524/',
 'http://www.imdb.com/title/tt10611608/',
 'http://www.imdb.com/title/tt7042146/']

**Criando as funções para o scraping**

**Avaliação dos Usuários**

In [ ]:
def get_user_reviews(soup):
    review = soup.find('span', attrs={'class':'score'})
    if review != None:
      return review.text
    else:
      return None

**Quantidade de Comentários da Crítica**

In [ ]:
  def get_critic_reviews(soup):
    critica = soup.findAll('span', attrs={'class':'score'})
    for i in critica:
      if critica != None:
        return int(critica[1].text)
      else:
        return None

In [ ]:
lista_series = []
for titulo, link in zip(titulos_series, links_series):
    dic = {}
    dic['titulo'] = titulo
    dic['link'] = link
    con = requests.get(link)
    soup = BeautifulSoup(con.content, "html.parser")
    con.close()
    
    
    dic['user_reviews'] = get_user_reviews(soup)
    dic['critic_reviews'] = get_critic_reviews(soup)
    
    
    lista_series.append(dic)

IndexError: ignored

In [ ]:
lista_series[0]

{'critic_reviews': 45,
 'link': 'http://www.imdb.com/title/tt8064302/',
 'titulo': 'Dead to Me',
 'user_reviews': '677'}

In [ ]:
lista_series[2]

{'critic_reviews': 32,
 'link': 'http://www.imdb.com/title/tt5296406/',
 'titulo': 'Designated Survivor',
 'user_reviews': '1.3K'}

In [ ]:
df = pd.DataFrame(lista_series, columns=['titulo', 'user_reviews', 'critic_reviews', ])

In [ ]:
df.head(50)

                                 titulo user_reviews  critic_reviews
0                            Dead to Me          677            45.0
1                     Never Have I Ever          577            49.0
2                   Designated Survivor         1.3K            32.0
3                           Castlevania          457            56.0
4                                Sense8          906            90.0
5                       Ginny & Georgia         1.1K            24.0
6               The Movies That Made Us          119            12.0
7                             Bad Sport           10             6.0
8                   The Kominsky Method          452            38.0
9                        Anne with an E           1K            37.0
10                 The Valhalla Murders          163            10.0
11                            Ganglands           41             7.0
12                  Fate: The Winx Saga          775            39.0
13                            The Chair          162            34.0
14                        Shadowhunters          836            15.0
15                                Katla          256            28.0
16                            Hit & Run          208            15.0
17                     Jupiter's Legacy          887            66.0
18                             Ragnarok          690            42.0
19                         On the Verge          107            16.0
20                                 D.P.           52             5.0
21                               Borgen           90            32.0
22                             Love 101          130            19.0
23                          Dark Desire          105            13.0
24                               Jaguar           45            11.0
25                    Dear White People          274            63.0
26                              Q-Force          118             8.0
27                         Young Royals         1.2K            13.0
28                            Wednesday         None             NaN
29                           Insatiable          929            24.0
30                         Firefly Lane          339            20.0
31                         Black Summer         1.7K            36.0
32                       The Irregulars          601             2.0
33                                 GLOW          203            93.0
34                       Disenchantment          583            50.0
35  Masters of the Universe: Revelation         1.3K            42.0
36                            Iron Fist           1K            86.0
37                        Karma's World            4             1.0
38                         Fuller House          279            30.0
39                                 Baki          117            10.0
40                              Shooter          234            12.0
41                               Cursed         1.4K            48.0
42                    Vikings: Valhalla         None             NaN
43                            Luke Cage          386            91.0
44                           Baki Hanma           31             3.0
45                       Move to Heaven           73             7.0
46                            Explained           74             4.0
47                        Hemlock Grove          243            41.0
48                         Roman Empire          125             2.0
49                           Undercover          171            18.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   titulo          50 non-null     object
 1   user_reviews    48 non-null     object
 2   critic_reviews  48 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [ ]:
#df["a"] = pd.to_numeric(df["a"])
df['critic_reviews'] = pd.to_numeric(df['critic_reviews'])

In [ ]:
df.dtypes

titulo             object
user_reviews       object
critic_reviews    float64
dtype: object

In [ ]:
df = df.astype({"critic_reviews": int},errors='ignore')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   titulo          50 non-null     object
 1   user_reviews    48 non-null     object
 2   critic_reviews  48 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [ ]:
df.isnull().sum()

titulo            0
user_reviews      2
critic_reviews    2
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

titulo            0
user_reviews      0
critic_reviews    0
dtype: int64

In [ ]:
df = df.astype({"critic_reviews": int})

In [ ]:
df['critic_reviews'].dtypes

dtype('int64')

In [ ]:
df.head()

                titulo user_reviews  critic_reviews
0           Dead to Me          677              45
1    Never Have I Ever          577              49
2  Designated Survivor         1.3K              32
3          Castlevania          457              56
4               Sense8          906              90

In [ ]:
print(df.to_string())

                                 titulo user_reviews  critic_reviews
0                            Dead to Me          677              45
1                     Never Have I Ever          577              49
2                   Designated Survivor         1.3K              32
3                           Castlevania          457              56
4                                Sense8          906              90
5                       Ginny & Georgia         1.1K              24
6               The Movies That Made Us          119              12
7                             Bad Sport           10               6
8                   The Kominsky Method          452              38
9                        Anne with an E           1K              37
10                 The Valhalla Murders          163              10
11                            Ganglands           41               7
12                  Fate: The Winx Saga          775              39
13                            The Chair          162              34
14                        Shadowhunters          836              15
15                                Katla          256              28
16                            Hit & Run          208              15
17                     Jupiter's Legacy          887              66
18                             Ragnarok          690              42
19                         On the Verge          107              16
20                                 D.P.           52               5
21                               Borgen           90              32
22                             Love 101          130              19
23                          Dark Desire          105              13
24                               Jaguar           45              11
25                    Dear White People          274              63
26                              Q-Force          118               8
27                         Young Royals         1.2K              13
29                           Insatiable          929              24
30                         Firefly Lane          339              20
31                         Black Summer         1.7K              36
32                       The Irregulars          601               2
33                                 GLOW          203              93
34                       Disenchantment          583              50
35  Masters of the Universe: Revelation         1.3K              42
36                            Iron Fist           1K              86
37                        Karma's World            4               1
38                         Fuller House          279              30
39                                 Baki          117              10
40                              Shooter          234              12
41                               Cursed         1.4K              48
43                            Luke Cage          386              91
44                           Baki Hanma           31               3
45                       Move to Heaven           73               7
46                            Explained           74               4
47                        Hemlock Grove          243              41
48                         Roman Empire          125               2
49                           Undercover          171              18

In [ ]:
#dfFilme.to_csv('filmes_denzel.csv', sep=';', index=False)

df.to_csv('series.csv', sep=';', index=False)